* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(236, 246, 0, 1) 100%);
    background-attachment: fixed;
}

.Counter__container {
    margin: auto;
    width: 450px;
    height: 450px;
    margin-top: 100px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(220, 249, 0, 1) 100%);
    border-radius: 50px;
    border: solid black 3px;
}

.Counter__heading {
    display: flex;
    justify-content: center;
    margin-left: 90px;
   

}


.Counter__Counting {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 40px;
}

.Counter__btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    
    

}



.reset__btn {
    display: flex;
    justify-content: center;
    margin: 30px;

}